.cloud1 {
  position: absolute;
  max-width: 100%;
  left: 0;
  bottom: 0;
  max-height: 400px;
  z-index: 0;

  /* animation: animate 10s linear infinite; */
}

/* @keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
} */
